default_stages:
  - pre-commit

repos:
  - repo: local
    hooks:
      - id: gofumpt
        name: gofumpt
        entry: gofumpt -w
        language: system
        types:
          - go
      - id: golangci-lint
        name: golangci-lint
        entry: env GOLANGCI_LINT_CACHE=.cache/golangci-lint golangci-lint run ./...
        language: system
        pass_filenames: false
      - id: go-test-race
        name: go test -race
        entry: go test -race ./...
        language: system
        pass_filenames: false
