default_stages:
  - pre-commit

repos:
  - repo: local
    hooks:
      - id: quality
        name: make quality
        entry: env QUALITY_DIFF_MODE=staged make quality
        language: system
        pass_filenames: false
        always_run: true
